<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Gallery</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/gallery.css') }}" />
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	</head>
	<body>
		<div id="wrap">
			<div id="header">
				{% if session['username'] %}
				<span> Hello {{session['username']}} </span>
				<button type="button" value="Logout" onclick="logout()">Logout</button>
				{% else %}
				<form id="login" action="/login" method="post" role="form">
					Username: <input id="username" name="username" type="text" /><br />
					Password: <input id="pwd" name="pwd" type="password" /><br />
					<input type="submit" value="Login" /><br />				
				</form>
				{% endif %}
			</div>
			<div id="mainNav">
				<a class="mainNavLink" href="index">Main Page</a>
				<a class="mainNavLink" href="gallery">Gallery</a>
				<a class="mainNavLink" href="attractions">Local Activities</a>
				<a class="mainNavLink" href="reviews">Reviews</a>
				<a class="mainNavLink" href="booking">Book Now</a>
				<a class="mainNavLink" href="contactus">Contact Us</a>
			</div>
			<div id="main">
				<div id="slides">
					<div class="imgSlideNav" id="prevSlidebarImg">▲</div>
					<!-- using longdesc as an index counter -->
					<img class="thumbnail" src="img/1.jpg" alt="Image 1" longdesc="0" />
					<img class="thumbnail" src="img/2.jpg" alt="Image 2" longdesc="1" />
					<img class="thumbnail" src="img/3.jpg" alt="Image 3" longdesc="2" />
					<img class="thumbnail" src="img/4.jpg" alt="Image 4" longdesc="3" />
					<img class="thumbnail" src="img/5.jpg" alt="Image 5" longdesc="4" />
					<div class="imgSlideNav" id="nextSlidebarImg">▼</div>
				</div>
				<div id="contentWrap">
					<h2>Gallery</h2>
					<div id="galleryWrap">
						<div id="mainImg">
							<div class="imgNav" id="prevImg">◀</div>
							<img id="fullSize" src="img/1.jpg" alt="Image 1" longdesc="0" />
							<div class="imgNav" id="nextImg">▶</div>
<!--						<div class="fullScreen">
							</div>
							<img class="bigImage" src="img/1.jpg" /> -->
						</div>
					</div>
				</div>
			</div>
			<div id="footer">
				<p id="footnote">Created by Adrian Wesolowski. Last modified on 12/11/2016.</p>
			</div>
		</div>
		<script src="{{ url_for('static', filename='script.js') }}"></script>
	</body>
</html>
