<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Home</title>
        <meta charset="utf-8" />
        
        <!-- Latest compiled and minified Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        
		<!-- Bootstrap theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        
		<!-- stylesheet.css -->
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/stylesheet.css') }}">
        
        <!-- JQuery -->
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        
        <!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        
	</head>
	<body>

		<!-- Navigation Bar -->
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<!-- Header of Navbar -->
				<div class="navbar-header">
					<a class="navbar-brand" href="index">
						<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
					</a>
				</div>
				
				<!-- Right of Navbar -->
				<div class="collapse navbar-collapse">

					<!-- Handle signed in/signed out user -->
					{% if session['username'] %}
					<button type="button" class="btn btn-default navbar-btn navbar-right" onclick="logout()">Logout</button>
					<p class="navbar-text navbar-right">
						Logged in as {{session['username']}}
							{% if session['isAdmin'] == True %}
								(Admin)
							{% endif %}
					</p>
					{% else %}
					<button type="button" class="btn btn-default navbar-btn navbar-right" data-toggle="modal" data-target="#loginBox">Login</button>	
					{% endif %}
					<!-- Navigation buttons -->
					<ul class="nav navbar-nav navbar-right">
						<li class="active"><a href="index">Home</a></li>
						<li><a href="gallery">Gallery</a></li>
						<li><a href="attractions">Attractions</a></li>
						<li><a href="reviews">Reviews</a></li>
						<li><a href="booking">Book Now</a></li>
						<li><a href="contactus">Contact</a></li>
					</ul>
				
				</div>
			</div>
		</nav>

		<!-- Modal login box -->
		<div id="loginBox" class="modal fade" role="dialog">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Login</h4>
					</div>
					<div class="modal-body">
						<form id="login" action="/login" method="post">
							<input type="text" id="username" name="username" class="form-control" placeholder="Username"><br>
							<input type="password" id="pwd" name="pwd" class="form-control" placeholder="Password"><br>
							<button type="submit" class="btn btn-default btn-lg">Login/Sign Up</button>
                            <h5>Don't have an account? <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#signupBox">Register</a>!</h5>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

        <!-- Modal signup box -->
		<div id="signupBox" class="modal fade" role="dialog">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Sign Up</h4>
					</div>
					<div class="modal-body">
						<form id="login" action="/register" method="post">
							<input type="text" id="username" name="username" class="form-control" placeholder="Username"><br>
							<input type="password" id="pwd" name="pwd" class="form-control" placeholder="Password"><br>
                            <label>Permissions:</label>
                            <select name="permissions" class="form-control">
                                <option>user</option>
                                <option>admin</option>
                            </select>
							<button type="submit" class="btn btn-default btn-lg">Sign Up</button>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Jumbotron -->
		<div class="jumbotron">
			<div class="container">
				<h1>Welcome!</h1>
				<p>Nestled within a tranquil woodland setting. This 19th-century Italianate courtyard conversion, with substantial coach house, designed by Buckingham Palace architect Edward Blore, offers a unique holiday experience with its superb indoor heated swimming pool. These four award-winning properties are perfectly placed for exploring the abundant delights of Norfolk.</p>
				<p><a class="btn btn-primary btn-lg" href="booking" role="button">Book Now</a></p>
			</div>
		</div>

		<!-- Thumbnails -->
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
					<img src="{{ url_for('static', filename='img/11.jpg') }}" alt="Image 11" />
						<div class="caption">
							<h3>Description</h3>
							<p>The Coach House and its adjoining courtyard buildings are the only surviving testimony to this once prestigious hall. Built in 1840, the Clock Tower entrance (with working clocks similar to that of the Palace) is thought to be the only other example of its kind. With four-poster beds and marble-top dining tables, the properties are tastefully furnished and equipped to a high standard. The properties enjoy superb leisure facilities, including a 30-foot indoor heated swimming pool with full changing facilities, shower and W.C., an indoor games room with table tennis, pool table and a children&#8217;s play area. The Coach House, along with the three holiday cottages, are equally suitable for larger groups of up to 27 people, making them ideal for special celebrations and family get-togethers.</p>
							<p><a class="btn btn-primary" href="booking">Book a place now</a></p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<img src="{{ url_for('static', filename='img/17.jpg') }}" alt="Image 17" />
						<div class="caption">
							<h3>Facilities</h3>
							<!-- appropriated code and content from: http://www.cottages.com/cottages/haveringland-hall-the-smithy-cem -->
						<ul>
							<li>
								<em>Full oil central heating &pound;40 (Winter &pound;60) per week poa </em>
							</li>
							<li>
								<em><strong>Ground floor facilities</strong></em>
							</li>
						</ul>
						<ul>
							<li><em>Electricity and bed linen included </em></li>
							<li><em>Towels &pound;2 per person per week by arrangement poa</em></li>
							<li><em>Cot</em></li>
							<li><em>High chair</em></li>
							<li><em>Digital TV</em></li>
							<li><em>DVD (small library)</em></li>
							<li><em>Radio/CD</em></li>
							<li><em>Microwave</em></li>
							<li><em>Shared laundry room with coin-operated washer/dryer</em></li>
							<li><em>Dishwasher</em></li>
							<li><em>Fridge/freezer</em></li>
							<li><em>Shared payphone</em></li>
							<li><em>Garden with furniture</em></li>
							<li><em>Large shared garden</em></li>
							<li><em>Barbecue</em></li>
							<li><em>Ample parking</em></li>
							<li><em>Fishing available nearby by arrangement</em></li>
							<li><em>Natural spring water supply</em></li>
							<li><em>Complimentary wine on arrival</em></li>
							<li><em>No smoking</em></li>
						</ul>
						Additional facilities (available all year round):
						<ul>	
							<li><em>Indoor heated swimming pool (30ft x 14ft, constant depth 4ft), with full changing facilities, shower and toilet, open daily from 9am to 7pm</em></li>
							<li><em>Indoor games room with pool table and table football</em></li>
							<li><em>Climbing frame and swings (for under 5s)</em></li>
						</ul>
						<!-- end of appropriated code -->

						<p><a class="btn btn-primary" href="attractions">See local attractions</a></p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
					<img src="{{ url_for('static', filename='img/15.jpg') }}" alt="Image 15" />
						<div class="caption">
							<h3>Queries</h3>
							<p>If you have any queries, please do not hesitate to contact us.</p>
							<p><a class="btn btn-primary" href="contactus">Contact Us</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
        
        <div class="container">
            <footer class="footer">
                <div class="container text-center">
                    <p class="text-muted">Created by Adrian Wesolowski and James Wiggan. Last modified on 15/12/2016.</p>
                </div>
            </footer>
        </div>
		<script src="{{ url_for('static', filename='script.js') }}"></script>
		<!-- script is loaded after the elements are completely loaded in order to make sure event handlers are properly attached -->
	</body>
</html>
